* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main: 195;

  --bg-main: hsl(0, 0%, 0%);
  --bg-btn: hsl(var(--main), 91%, 25%);
  --text: hsl(0, 0%, 100%);
  --bg-input: hsl(calc(var(--main) - 4), 65%, 7%);
  --bg-tb-header: hsl(calc(var(--main) - 1), 72%, 13%);
  --bg-tb-tr: hsl(calc(var(--main) - 1), 64%, 6%);
  --bg-tb-tr-even: hsla(calc(var(--main) - 1), 64%, 6%, 0.5);
  --b-tb: hsl(calc(var(--main) - 4), 31%, 42%);

  font-size: 6.25%;
}

body {
  background-color: var(--bg-main);

  padding: 115rem 160rem;

  font-family: "Roboto", serif;
  font-size: 16rem;
  color: var(--text);

  display: flex;
  flex-direction: column;
  gap: 86rem;
}

header {
  display: flex;
  justify-content: space-between;

  div {
    width: 100%;
    height: 48rem;

    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 8rem;

    input {
      background-color: var(--bg-input);

      font-family: "Roboto", serif;
      font-size: 16rem;
      color: var(--text);

      max-width: 462rem;
      width: 100%;
      height: 100%;
      padding: 16rem;
      border: none;
      border-radius: 8rem;
    }

    input::placeholder {
      color: #7c7c8a;
    }

    button {
      background-color: var(--bg-btn);

      height: 100%;
      padding: 12rem 32rem;
      border: none;
      border-radius: 8rem;

      cursor: pointer;

      display: flex;
      align-items: center;
      gap: 8rem;

      div {
        font-family: "Roboto", serif;
        font-size: 14rem;
        font-weight: 700;
        text-transform: uppercase;
        color: var(--text);
      }
    }

    button:active {
      transform: scale(0.95);
    }
  }
}

table {
  border-spacing: 0;
  width: 100%;
  border-radius: 12rem;
  border: 1px solid var(--b-tb);

  thead,
  tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
  }

  thead {
    background-color: var(--bg-tb-header);
    border-radius: 12rem 12rem 0 0;

    :first-child {
      text-align: start;
    }

    :not(:first-child) {
      width: 220rem;
    }

    th {
      padding: 16rem 40rem;
    }

    th:first-child {
      border-top-left-radius: 12rem;
    }

    th:last-child {
      border-top-right-radius: 12rem;
    }
  }

  tbody {
    display: block;
    max-height: 400rem;
    overflow-y: overlay;
    border-radius: 0 0 12rem 12rem;

    tr:last-child {
      td:first-child {
        border-bottom-left-radius: 12rem;
      }

      td:last-child {
        border-bottom-right-radius: 12rem;
        border-bottom: none;
      }
    }

    tr:nth-child(even) {
      background-color: var(--bg-tb-tr-even);
    }

    tr {
      background-color: var(--bg-input);

      td:first-child {
        border-left: 1px solid var(--b-tb);
      }

      td:last-child {
        border-right: 1px solid var(--b-tb);
      }

      td {
        text-align: center;
        font-weight: 700;

        border-bottom: 1px solid var(--b-tb);
        padding: 16rem 40rem;
      }

      .user {
        display: flex;
        align-items: center;
        gap: 16rem;

        img {
          width: 56rem;
          height: 56rem;
          border-radius: 50%;
        }

        .user-info {
          display: flex;
          flex-direction: column;
          align-items: start;
          gap: 8rem;

          .username {
            font-weight: 400;
          }
        }
      }

      .remove button {
        font-size: 16rem;
        font-weight: 700;
        color: red;
        background-color: transparent;
        border: none;
      }

      .remove button:hover {
        cursor: pointer;
        font-size: 16.5rem;
      }
    }
  }
}
tbody {
  position: relative;
  overflow-y: auto;
}

tbody::-webkit-scrollbar {
  width: 6rem;
}

tbody::-webkit-scrollbar-track {
  background-color: transparent;
}

tbody::-webkit-scrollbar-thumb {
  background-color: var(--b-tb);
  border-radius: 10rem;
}
